  #email-button {
    background: none!important;
    border: none;
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    color: #1f24cc;
    text-decoration: underline;
    cursor: pointer;
    text-decoration: none;
    width: 428px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.45;
    margin-top: 0;
    padding: 0 0 16px;
    border-bottom: 1px solid lightgray;
}

  #email-button:hover{
      text-decoration: underline;
  }

  #email-button:focus{
    outline: none;
}


#email-button.invisible{
    display: none;
}

#signup-form.invisible{
    display: none;
}


input{
    background-color: #fafafa;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.12);
    box-shadow: none;
    box-sizing: border-box;
    margin: 0 0 20px;
    max-width: 100%;
    padding: 8px;
    width: 428px;
    height: 39.2px;
}

input:focus{
    outline: 0;
}

label{
    font-size: 13px;
    font-weight: 600;
}

#demo-user-button{
    box-sizing: border-box;
    height: 41px;
        color: rgba(0,0,0,.54);
        background: #fff;
        border-radius: 3px;
        border: 1px solid #ddd;
        position: relative;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 10.5px;
        padding-right: 105.px;
        width: 428px;
        margin: 0 0 16px;
        font-size: 16px;
        font-weight: 600;
        min-height: 36px;
        outline: 0;
}

#demo-user-button:hover {
    background: #ebebeb;
    background-color: rgba(0,0,0,.05)!important;
    border-color: rgba(0,0,0,.26)!important;
}

#icon {
    max-width: 50px;
    padding-left: 0px;
    margin-left: 32px;
    background-color: white;
}

a{
    background-color: white;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    border-bottom: 1px lightgrey solid;
}


#sign-up-container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 428px;
}


h1{
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 28px;
    line-height: 1.25;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.87);
    font-weight: 600;
}


#login-link{
    margin: 16px 0 16px;
    font-size: 13px;
    line-height: 1.6;
    color: rgba(0,0,0,.87);
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    font-weight: 100;
}

#login{
    text-decoration: none;
    color: #1f24cc;
}

#login:hover{
    text-decoration: underline;
}

#login:visited{
    color: #1f24cc;
}

#spacer{
    height: 20px;
}

#continue{
    background-color: #ed1c40;
    display: block;
    width: 100%;
    text-align: center;
    padding: .5em;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.45;
    min-height: 36px;
    outline: 0;
    color: white;
    border-color: #ed1c40;
    text-shadow: none;
    shadow: none;
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    border: 1px solid #ed1c40;
}

#continue:hover{
    cursor: pointer;
}

label{
    background-color: transparent;
}
