.event-container{
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.12);
    border-top-color: rgba(0, 0, 0, 0.12);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.12);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgba(0, 0, 0, 0.12);
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 16px 16px 0;
    border-top: 1px solid rgba(0,0,0,.12);
    font-size: 16px;
    display: flex;
}



.event-time{
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    font-weight: 400;
    font-size: 16px
}

.event-nav{
    padding-left: 16px;
    display: flex;
    flex-direction: column;
}

.event-nav a:hover{
    cursor: pointer;
}

.group-link{
    line-height: 1.6;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: -.02em;
    word-spacing: .1em;
    color: grey;
    text-decoration: none;
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.event-link{
    font-size: 20px;
    line-height: 1.25;
    font-weight: 500;
    letter-spacing: -.02em;
}

.location-link {
    color: grey;
    text-decoration: none;
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
  }

  a{
      color: inherit;
      text-decoration: none;
  }

  .attendance{
    color: grey;
    text-decoration: none;
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
  }
