.logout-button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    /*input has OS specific font-family*/
    color: grey;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
  }

  .logout-button:hover{
      color: red;
  }

  .logout-button:focus{
      border: none;
      outline: none;
  }
